---
import { Image } from 'astro:assets'
import MainLayout from '@layouts/MainLayout.astro'

import heroImage from '@assets/images/space-hero-7.webp'
import heroImageMobile from '@assets/images/space-hero-mobile-1.webp'
import SpaceboxLogoLockupLight from '@assets/images/SpaceboxLogoLockupLight.astro'
import PackLogo from '@assets/images/PackLogo.astro'
import ShopifyLogo from '@assets/images/ShopifyLogo.astro'
import NetflixLogo from '@assets/images/NetflixLogo.astro'
import UMZULogo from '@assets/images/UMZULogo.astro'
import Satellite from '@assets/images/Satellite.astro'
import Subscribe from '@components/Subscribe/Subscribe.astro'

import SpeedBadge from '@assets/images/extreme-speed-paths.svg'
import AccessibilityBadge from '@assets/images/accessibility-paths.svg'
import ComposableBadge from '@assets/images/composable-paths.svg'
import HighImpactBadge from '@assets/images/high-impact-paths.svg'

const slug = 'home'
---

<MainLayout slug={slug}>
	<div id="content" class="page page-home home">
		<main
			id="main"
			class="main content-grid full-width relative overflow-hidden bg-sb-space-blue-700 pb-12 pb-6 pt-6 lg:pt-6"
			role="main"
			itemscope
			itemprop="mainContentOfPage"
			itemtype="https://schema.org/Page"
		>
			<img
				class="full-width absolute left-0 top-0 z-0 h-full animate-pulse-slow object-cover opacity-20 lg:h-auto"
				src={heroImage.src}
				alt="space ship illustration"
			/>

			<header class="article-header page-header">
				<h1 class="entry-title page-title hidden" itemprop="headline">Spacebox</h1>
				<h2 class="mb-3 text-center text-base text-sb-pear lg:text-2xl">Hello. We're:</h2>
				<div class="spacebox-logo mx-auto px-4 lg:max-w-[1000px] lg:px-0">
					<SpaceboxLogoLockupLight />
				</div>
				<h3 class="my-12 px-4 text-center text-xl text-sb-pear lg:px-0 lg:px-6 lg:text-4xl">
					Spacebox is revolutionizing<br />headless e-commerce.
				</h3>
			</header>
			<div class="arc full-width min-w-[99vw]">
				<Satellite width="w-[32px]" />
			</div>
			<div class="content-wrap content left-1/2 mx-auto my-12 w-full max-w-[600px]">
				<p class="mx-auto mb-4 text-center text-lg text-sb-foam lg:text-xl xl:mb-12 xl:text-2xl">
					We create best-in-class headless storefronts for businesses that are ready to <span
						class="text-sb-orange">blast off</span
					>. 🚀
				</p>
				<div class="home-cta mb-12 flex flex-col items-center justify-center md:mb-24 lg:mb-32">
					<a href="/contact" class="btn-primary decooration-none bg-sb-green hover:bg-sb-green-700"
						>Work With Us</a
					>
					<a class="mt-3 text-center text-sb-green underline" href="/what-we-do">Learn more</a>
				</div>

				<div class="home-logos flex flex-col items-center justify-center">
					<h2
						class="mb-2 text-center font-archivo-expanded text-sm uppercase tracking-wide text-sb-jasmine lg:text-base"
					>
						Our Partners
					</h2>
					<div
						class="home-logos-inner mx-auto inline-flex items-center justify-center gap-x-6 rounded-3xl bg-sb-space-blue px-6 py-3"
					>
						<div class="home-logos__item flex items-center justify-center text-sb-jasmine">
							<a
								class="hover:opacity-80"
								href="https://packdigital.com/"
								target="_blank"
								rel="noopener noreferrer"
							>
								<PackLogo width="w-[40px]" />
							</a>
						</div>
						<div class="home-logos__item flex items-center justify-center">
							<a
								class="hover:opacity-80"
								href="https://www.shopify.com/plus/solutions/headless-commerce"
								target="_blank"
								rel="noopener noreferrer"
							>
								<ShopifyLogo width="w-[140px]" />
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="badges-inner full-width content-grid">
				<h2 class="mb-12 text-center text-2xl uppercase text-sb-pear lg:pt-12 lg:text-3xl">
					Spacebox Storefront Features:
				</h2>
				<div class="badges-wrap breakout grid grid-cols-1 gap-8 lg:grid-cols-4 lg:gap-12">
					<div class="badge mx-auto">
						<div class="badge-image mx-auto mb-3 flex max-w-[200px] justify-center lg:h-[235px]">
							<img src={SpeedBadge.src} alt="Speed Badge" />
						</div>
						<p class="px-8 text-center text-xl text-sb-foam lg:px-0 lg:text-xl">
							Performance perfected. Faster = higher conversion rate.
						</p>
					</div>
					<div class="badge mx-auto">
						<div class="badge-image mx-auto mb-3 flex max-w-[250px] justify-center lg:h-[235px]">
							<img
								src={AccessibilityBadge.src}
								alt="Accessibility space badge with robot and 100 in circle"
							/>
						</div>
						<p class="px-3 px-8 text-center text-xl text-sb-foam lg:px-0 lg:text-xl">
							Fully accessible means a better experience for everyone.
						</p>
					</div>
					<div class="badge mx-auto">
						<div class="badge-image mx-auto mb-3 flex max-w-[220px] justify-center lg:h-[235px]">
							<img
								src={ComposableBadge.src}
								alt="Composable space badge with nuclear illustration and text 'Composable Cusomizable Modular Reusable'"
							/>
						</div>
						<p class="px-8 text-center text-xl text-sb-foam lg:px-0 lg:text-xl">
							Custom content blocks to help you stand out from the crowd.
						</p>
					</div>
					<div class="badge mx-auto">
						<div class="badge-image mx-auto mb-3 flex max-w-[210px] justify-center lg:h-[235px]">
							<img src={HighImpactBadge.src} alt="Illustration of meteor hitting planet" />
						</div>
						<p class="px-8 text-center text-xl text-sb-foam lg:px-0 lg:text-xl">
							Experiences that deliver for your and your customers.
						</p>
					</div>
				</div>
			</div>
			<section class="clients full-width mt-12 bg-sb-space-blue-700 lg:mt-24">
				<h2 class="mb-3 pt-6 text-center text-2xl uppercase text-sb-pear lg:pt-12 lg:text-3xl">
					Our Clients
				</h2>
				<div
					class="clients-inner wrap-xl mx-auto flex flex-wrap items-center justify-center gap-x-24 gap-y-12 pb-8 pt-6 lg:flex-nowrap lg:pb-24 lg:pt-12"
				>
					<div class="home-logos__item flex items-center justify-center gap-x-8">
						<a
							class="hover:opacity-80"
							href="https://netflix.com/"
							target="_blank"
							rel="noopener noreferrer"
						>
							<NetflixLogo width="w-[160px]" />
						</a>
					</div>
					<div class="home-logos__item flex items-center justify-center text-white">
						<a
							class="hover:opacity-80"
							href="https://umzu.com"
							target="_blank"
							rel="noopener noreferrer"
						>
							<UMZULogo width="w-[180px]" />
						</a>
					</div>
				</div>
			</section>
			<section class="subscribe-outer full-width bg-sb-space-blue-700">
				<section class="subscribe-inner px-6 lg:px-0">
					<Subscribe />
				</section>
			</section>
		</main>
	</div>
</MainLayout>
