---
import { Image } from 'astro:assets'
import MainLayout from '@layouts/MainLayout.astro'

import heroImage from '@assets/images/space-hero-6.webp'
import heroImageMobile from '@assets/images/space-hero-mobile-1.webp'
import SpaceboxLogoLockupLight from '@assets/images/SpaceboxLogoLockupLight.astro'
import PackLogo from '@assets/images/PackLogo.astro'
import ShopifyLogo from '@assets/images/ShopifyLogo.astro'
import NetflixLogo from '@assets/images/NetflixLogo.astro'
import UMZULogo from '@assets/images/UMZULogo.astro'
import Subscribe from '@components/Subscribe/Subscribe.astro'

import SpeedBadge from '@assets/images/extreme-speed-badge.svg'
import AccessibilityBadge from '@assets/images/accessibility-badge.svg'
import ComposableBadge from '@assets/images/composable-badge.svg'
import HighImpactBadge from '@assets/images/high-impact-badge.svg'

const slug = 'home'
---

<MainLayout slug={slug}>
	<div id="content" class="page page-home home">
		<main
			id="main"
			class="main content-grid bg-sb-space-blue-700 pb-12 pb-6 pt-6 lg:pt-6"
			role="main"
			itemscope
			itemprop="mainContentOfPage"
			itemtype="https://schema.org/Page"
		>
			<header class="article-header page-header">
				<h1 class="entry-title page-title hidden" itemprop="headline">Spacebox</h1>
				<h2 class="mb-3 text-center text-base text-sb-pear lg:text-2xl">Hello. We're:</h2>
				<div class="spacebox-logo mx-auto px-4 lg:max-w-[1000px] lg:px-0">
					<SpaceboxLogoLockupLight />
				</div>
				<h3
					class="relative top-12 mb-4 mt-4 px-4 text-center text-xl text-sb-pear lg:px-0 lg:px-6 lg:text-4xl"
				>
					Spacebox is revolutionizing<br />headless e-commerce.
				</h3>
			</header>
			<div class="hero-image hero-image-desktop full-width relative mt-6">
				<img
					class="full-width hidden animate-pulse-slow opacity-20 lg:visible"
					src={heroImage.src}
					alt="space ship illustration"
				/>
				<div
					class="content-wrap content absolute left-1/2 mx-auto w-full max-w-[600px] -translate-x-2/4 place-self-center"
				>
					<p class="mx-auto mb-6 text-center text-sb-foam lg:text-2xl xl:text-3xl">
						We create best-in-class headless storefronts for businesses that are ready to <span
							class="text-sb-orange">blast off</span
						>. 🚀
					</p>
					<div class="home-cta flex items-center justify-center">
						<a
							href="/contact"
							class="btn-primary decooration-none bg-sb-green hover:bg-sb-green-700">Work With Us</a
						>
					</div>
				</div>
			</div>
			<div class="hero-image-mobile full-width mt-6 lg:!hidden">
				<img
					class="full-width animate-pulse-slow opacity-20"
					src={heroImageMobile.src}
					alt="space ship illustration"
				/>
				<div class="content-wrap content absolute place-self-center">
					<p class="mx-auto mb-6 max-w-[500px] text-center text-xl text-sb-foam">
						We create best-in-class headless storefronts for businesses that are ready to <span
							class="text-sb-orange">blast off</span
						>. 🚀
					</p>
					<div class="home-cta flex items-center justify-center">
						<a
							href="/contact"
							class="btn-primary decooration-none bg-sb-green hover:bg-sb-green-700">Work With Us</a
						>
					</div>
				</div>
			</div>
			<section
				class="entry-content flex flex-col items-center justify-center pb-12"
				itemprop="articleBody"
			>
				<div class="home-logos lg:-mt-24">
					<h2
						class="mb-2 text-center font-archivo-expanded text-sm uppercase tracking-wide text-sb-jasmine lg:text-base"
					>
						Our Partners
					</h2>
					<div
						class="home-logos-inner inline-flex items-center justify-center gap-x-6 rounded-3xl bg-sb-space-blue px-6 py-3 lg:mx-auto"
					>
						<div class="home-logos__item flex items-center justify-center text-sb-jasmine">
							<a
								class="hover:opacity-80"
								href="https://packdigital.com/"
								target="_blank"
								rel="noopener noreferrer"
							>
								<PackLogo width="w-[40px]" />
							</a>
						</div>
						<div class="home-logos__item flex items-center justify-center">
							<a
								class="hover:opacity-80"
								href="https://www.shopify.com/plus/solutions/headless-commerce"
								target="_blank"
								rel="noopener noreferrer"
							>
								<ShopifyLogo width="w-[140px]" />
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<section class="badges full-width content-grid bg-sb-space-blue-700 pb-24">
			<div class="badges-inner full-width content-grid">
				<h2 class="mb-12 text-center text-2xl uppercase text-sb-pear lg:pt-12 lg:text-3xl">
					Your new site features:
				</h2>
				<div class="badges-wrap breakout grid grid-cols-1 gap-8 lg:grid-cols-4 lg:gap-12">
					<div class="badge mx-auto">
						<div class="badge-image mx-auto mb-3 flex max-w-[200px] justify-center lg:h-[235px]">
							<img src={SpeedBadge.src} alt="Speed Badge" />
						</div>
						<p class="px-8 text-center text-xl text-sb-foam lg:px-0 lg:text-xl">
							Performance perfected. Faster = higher conversion rate.
						</p>
					</div>
					<div class="badge mx-auto">
						<div class="badge-image mx-auto mb-3 flex max-w-[250px] justify-center lg:h-[235px]">
							<img
								src={AccessibilityBadge.src}
								alt="Accessibility space badge with robot and 100 in circle"
							/>
						</div>
						<p class="px-3 px-8 text-center text-xl text-sb-foam lg:px-0 lg:text-xl">
							Fully accessible means a better experience for everyone.
						</p>
					</div>
					<div class="badge mx-auto">
						<div class="badge-image mx-auto mb-3 flex max-w-[220px] justify-center lg:h-[235px]">
							<img
								src={ComposableBadge.src}
								alt="Composable space badge with nuclear illustration and text 'Composable Cusomizable Modular Reusable'"
							/>
						</div>
						<p class="px-8 text-center text-xl text-sb-foam lg:px-0 lg:text-xl">
							Custom content blocks to help you stand out from the crowd.
						</p>
					</div>
					<div class="badge mx-auto">
						<div class="badge-image mx-auto mb-3 flex max-w-[210px] justify-center lg:h-[235px]">
							<img src={HighImpactBadge.src} alt="Illustration of meteor hitting planet" />
						</div>
						<p class="px-8 text-center text-xl text-sb-foam lg:px-0 lg:text-xl">
							Experiences that deliver for your and your customers.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="clients full-width bg-sb-space-blue-600">
			<h2 class="mb-3 pt-6 text-center text-2xl uppercase text-sb-pear lg:pt-12 lg:text-3xl">
				Our Clients
			</h2>
			<div
				class="clients-inner wrap-xl mx-auto flex flex-wrap items-center justify-center gap-x-24 gap-y-12 pb-8 pt-6 lg:flex-nowrap lg:pb-24 lg:pt-12"
			>
				<div class="home-logos__item flex items-center justify-center gap-x-8">
					<a
						class="hover:opacity-80"
						href="https://netflix.com/"
						target="_blank"
						rel="noopener noreferrer"
					>
						<NetflixLogo width="w-[160px]" />
					</a>
				</div>
				<div class="home-logos__item flex items-center justify-center text-white">
					<a
						class="hover:opacity-80"
						href="https://umzu.com"
						target="_blank"
						rel="noopener noreferrer"
					>
						<UMZULogo width="w-[180px]" />
					</a>
				</div>
			</div>
		</section>
		<section class="subscribe-outer full-width bg-sb-space-blue">
			<section class="subscribe-inner px-6 lg:px-0">
				<Subscribe />
			</section>
		</section>
	</div>
</MainLayout>
