---
import PackLogo from '@assets/images/pack-logo-small.svg'
import ShopifyLogo from '@assets/images/shopify_logo_light.svg'
import NextJSLogo from '@assets/images/nextjs-13.svg'
import AstroLogo from '@assets/images/astro-logo.svg'
import HydrogenLogo from '@assets/images/hydrogen-logo.svg'
import RemixLogo from '@assets/images/remix-logo.svg'
import SpaceboxLogo from '@assets/images/spacebox-lockup-light.svg'
import TailwindCSSLogo from '@assets/images/Tailwind_CSS_logo.svg'
---

<style>
	.scroller__wrapper {
		/* How long one slide is visible on screen (from entering screen to leaving it) */
		--scrolling-gallery-item-duration: 32s;
		/* How many items we want to see on screen at once */
		--scrolling-gallery-items-visible: 4;
		/* How many items are to scroll */
		--scrolling-gallery-items-total: 4;
		/* margin-top: 2.25em; */
		overflow: hidden;
		/* will-change: transform; */
	}

	.scroller {
		animation-duration: calc(
			var(--scrolling-gallery-item-duration, 1s) / var(--scrolling-gallery-items-visible) *
				var(--scrolling-gallery-items-total)
		);
		animation-timing-function: linear;
		animation-name: scrolling-gallery;
		animation-iteration-count: infinite;
		display: flex;
		white-space: nowrap;
	}

	.scroller__container {
		/* Without this, scroll will jump on desktop if any vertical scrollbar is shown */
		width: 100vw;
	}

	.scroller__item {
		display: flex;

		align-items: center;
		justify-content: center;

		flex: 1 0 calc(100% / var(--scrolling-gallery-items-visible));
		/* Without this, block elements will take width from their contents and thus making wrong calculations,
     so this just force elements to take only exact part of the container (screen) and equal for all */
		width: 0px;
		/* If you want to have it continuous without any spaces, remove two lines below */
		box-sizing: border-box;
		padding: 0.5em;
	}

	.scroller img {
		display: block;

		width: 100%;
		max-width: 300px;
		padding: 2.2rem;
	}

	@keyframes scrolling-gallery {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(
				calc(var(--scrolling-gallery-items-total) * -100vw / var(--scrolling-gallery-items-visible))
			);
		}
	}

	.scroller:hover,
	.scroller:focus {
		animation-play-state: paused;
	}

	.scroller__wrapper {
		--scrolling-gallery-items-visible: 3;
	}

	.scroller__wrapper {
		--scrolling-gallery-item-duration: 32s;
	}
</style>

<section
	class="scroller__wrapper full-width content-grid relative -left-[35%] !w-[150%] overflow-x-hidden"
>
	<div class="scroller__container full-width">
		<div class="scroller">
			<div class="scroller__item"><img src={PackLogo.src} alt="Pack Digital logo" /></div>
			<div class="scroller__item"><img src={ShopifyLogo.src} alt="Shopify logo" /></div>
			<div class="scroller__item"><img src={NextJSLogo.src} alt="NextJS logo" /></div>
			<div class="scroller__item"><img src={HydrogenLogo.src} alt="Shopify Hydrogen logo" /></div>
			<div class="scroller__item"><img src={RemixLogo.src} alt="Remix Run logo" /></div>
			<div class="scroller__item"><img src={AstroLogo.src} alt="Astro logo" /></div>
			<div class="scroller__item"><img src={SpaceboxLogo.src} alt="Spacebox logo" /></div>
			<div class="scroller__item"><img src={TailwindCSSLogo.src} alt="Tailwind CSS logo" /></div>

			<!-- Here are exact copy of previous items -->
			<div class="scroller__item"><img src={PackLogo.src} alt="Pack Digital logo" /></div>
			<div class="scroller__item"><img src={ShopifyLogo.src} alt="Shopify logo" /></div>
			<div class="scroller__item"><img src={NextJSLogo.src} alt="NextJS logo" /></div>
			<div class="scroller__item"><img src={HydrogenLogo.src} alt="Shopify Hydrogen logo" /></div>
			<div class="scroller__item"><img src={RemixLogo.src} alt="Remix Run logo" /></div>
			<div class="scroller__item"><img src={AstroLogo.src} alt="Astro logo" /></div>
			<div class="scroller__item"><img src={SpaceboxLogo.src} alt="Spacebox logo" /></div>
			<div class="scroller__item"><img src={TailwindCSSLogo.src} alt="Tailwind CSS logo" /></div>

			<div class="scroller__item"><img src={PackLogo.src} alt="Pack Digital logo" /></div>
			<div class="scroller__item"><img src={ShopifyLogo.src} alt="Shopify logo" /></div>
			<div class="scroller__item"><img src={NextJSLogo.src} alt="NextJS logo" /></div>
			<div class="scroller__item"><img src={HydrogenLogo.src} alt="Shopify Hydrogen logo" /></div>
			<div class="scroller__item"><img src={RemixLogo.src} alt="Remix Run logo" /></div>
			<div class="scroller__item"><img src={AstroLogo.src} alt="Astro logo" /></div>
			<div class="scroller__item"><img src={SpaceboxLogo.src} alt="Spacebox logo" /></div>
			<div class="scroller__item"><img src={TailwindCSSLogo.src} alt="Tailwind CSS logo" /></div>
		</div>
	</div>
</section>
